<div class="card">
  <div class="card-header">Edition du cheval</div>
  <div class="card-body" style="padding-bottom: 0;">
    <div class="modal-body" style="padding-top: 0;">
      <div class="form-group">
        <label>Nom *</label>
        <input [(ngModel)]="cheval.nom" class="form-control"/>
      </div>
      <div class="form-group">
        <label>Remarque *</label>
        <input [(ngModel)]="cheval.remarque" class="form-control"/>
      </div>
      <input type="hidden" path="id" />
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" (click)="addCheval()">
        <img src="/assets/images/submit.png" width="20px" height="20px">
      </button>
      <button type="reset" class="btn btn-warning">
        <img src="/assets/images/reset.png" width="20px" height="20px">
      </button>
    </div>
  </div>
</div>
