<div class="card">
  <div class="card-header">
    Liste des chevals&nbsp;&nbsp;
        <button class="btn btn-success"><img src="/assets/image/add.png" width="20px" height="20px"></button>
  </div>
  <div class="card-body" style="padding-bottom: 0;">
    <table id="tblEleves" class="table table-bordered table-hover">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nom</th>
        <th scope="col">Remarque</th>
        <th scope="col">Registre</th>
        <th scope="col">Centre Equestre</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor ="let elem of tab">
          <td><a href="">{{elem.id}}</a></td>
          <td>{{elem.nom}}</td>
          <td>{{elem.remarque}}</td>
          <td></td>
          <td></td>
            <td>
                <button class="btn btn-info" (click)="changeText()"><img src='/assets/images/edit.png' width="20px" height="20px"></button>
                <button class="btn btn-danger"><img src='/assets/images/delete.png' width="20px" height="20px"></button>
            </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
